= form_for(@e911_context) do |f|
  = render :partial => 'layouts/alert', locals: { obj: @e911_context } 

  = f.hidden_field :user_id
  = f.hidden_field :e911id
  = f.hidden_field :isAddressConfirmed

  - [:name, :houseNumber, :street, :city, :state, :zip].each do |fld|
    .form-group-sm
      = f.label fld, class: 'control-label'
      = f.text_field fld, class: 'form-control', placeholder: fld.to_s.capitalize
  .form-button
    = f.submit("Create E911 Context", class: 'btn btn-primary')


