%p#notice= notice

%p
  %b References:
  = @authorization.references
%p
  %b Carrier:
  = @authorization.carrier
%p
  %b Access token:
  = @authorization.access_token
%p
  %b Refresh token:
  = @authorization.refresh_token
%p
  %b Authorized at:
  = @authorization.authorized_at
%p
  %b E911id:
  = @authorization.e911id

= link_to 'Edit', edit_authorization_path(@authorization)
\|
= link_to 'Back', authorizations_path
